<div class="container">
  <div class="header">
    <img src="assets/images/header-img.jpg" alt="Header Image">
  </div>
  <div class="body">
    <img src="assets/images/body-img.jpg" alt="Body Image">
  </div>
  <div class="footer">
    <img src="assets/images/footer-img.jpg" alt="Footer Image">
  </div>
</div>


<router-outlet></router-outlet>
