

.container {
  display: grid;
  grid-template-rows: 5% 1fr 5%;
  height: 100vh;
}

.header, .footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img, .footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
